.menu-body {
    max-width: 95vh;
    margin: 0 auto;
    display: block;
    color: rgb(85, 85, 85);
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-family: georgia;
    font-size: 4.75vh;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: Center;
}

.menu-item {
    margin: 35px 0;
    font-size: 2.25vh;
}

.menu-item-name {
    font-family: helvetica;
    font-weight: bold;
    border-bottom: 0.2vh dotted rgb(213, 213, 213);
}

.menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.25em;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: -3.45vh;
}