* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#logo {
    width: 5vh;
    height: 5vh;
}

.fwh-slide {
    min-height: 90vh;
}

nav {
    z-index: 1;
    width: 100%;
    position: fixed!important;
}

.nav-link {
    font-size: 1.25rem;
    margin: 0 1.2vh!important;
    font-weight: 500;
    display: block;
}

#logo {
    margin: 0 1.2vh;
    height: 3.75%;
    width: 3.75%;
}

.nav-link:hover {
    filter: contrast(125%);
    filter: brightness(125%);
    color: yellow!important;
    transition-property: filter, color;
    transition-duration: 0.55s;
}

#reasonHeader {
    margin-top: 3vh;
    margin: 3.5% 0 2.5% 0;
    color: crimson;
}

#reasonParagraph {
    color: white;
    text-align: center;
    font-size: 3.25vh;
    margin: 0 3.5%;
    font-weight: 600;
    margin-bottom: 5vh!important;
}

#banner {
    width: 100%;
    align-items: center;
    position: relative;
    text-align: center;
}

#banner img {
    width: 100%;
    height: 45%;
}

#bannerText {
    top: 27.5vh;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    background-color: rgb(0, 0, 0, 0.85);
    position: absolute;
}

#menuHeader {
    margin-bottom: 0!important;
    padding: 0.2%!important;
}

.horizontalLine {
    width: 14.5%;
    border: 3px solid #292b2c;
    border-radius: 50px;
    margin-top: 0!important;
    padding: none!important;
}

.underLine {
    width: 42.5%;
    border: 3px solid crimson;
    border-radius: 50px;
}

.menu-body {
    margin-top: 3.5%;
}

.yellowHighlight {
    color: #f0d229;
}

#deliveryInfoSection {
    line-height: 120%;
    margin-bottom: 3.5%;
}

.display-4 {
    font-weight: 700;
}

#orderFormSection {
    position: static;
    display: block;
    margin: 2.5% auto;
    width: 30%;
}

#orderFormSection label,
input {
    outline: none;
    display: block;
    margin: 0.45% 0;
}

#deliveryBanner img {
    width: 100%;
    height: 35%;
}

#deliveryInfoSection {
    top: 20.5vh;
    padding: 1.5% 20px;
    display: block;
    background-color: rgb(0, 0, 0, 0.85);
    position: absolute;
    color: white;
    width: 100%;
    max-height: fit-content;
}

#deliveryInfoSection h3 {
    margin: 0.8%;
}

#deliveryInfoSection h1 {
    margin-bottom: 2.5%;
}

#deliveryBanner {
    align-items: center;
    position: relative;
    text-align: center;
}

#banner,
#deliveryBanner h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.25vh;
    font-weight: 600;
}

#deliveryBannerHeader,
#reasonHeader {
    font-size: 6.5vh!important;
    font-weight: 600;
}


#footerHeader {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.75vh;
}

#menuHeader,
#deliveryHeader {
    font-size: 7.75vh;
}

#footerDiv {
    padding: 1.125%;
}

#navigationBar {
    padding: none;
}

#searchBar {
    border-radius: 10px;
}

#menuBanners {
    top: 0;
    padding: 1% 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: auto;
}

.rowGroup {
    display: inline-block;
}

.cardTitle {
    font-weight: 600;
    font-size: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: auto;
}

#menuBanner {
    align-items: center;
    position: relative;
    text-align: center;
}

#menuBanner img {
    width: 100%;
}

.cardItem {
    color: white;
    width: 120px;
    padding: 2.75vh 1.35vh;
    min-height: fit-content;
    min-width: fit-content;
    margin: 0.35vh 1.55vh;
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
}

.cardItem:hover {
    background-color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.6s;
}

#deliveryInfoHeader {
    display: none;
}

/* Phones */

@media all and (max-device-height: 960px) and (max-device-width: 540px) {
    #logo {
        width: 10%;
        height: 10%;
    }
    #banner img {
        margin-top: 11%;
        margin-bottom: 0;
    }
    #bannerText {
        top: 0;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #reasonParagraph {
        font-size: 2rem;
        padding-bottom: 5%;
    }
    #reasonHeader {
        padding: 5%;
        margin-top: 0;
        font-size: 2.75rem!important;
    }
    .horizontalLine {
        width: 55%;
    }
    #deliveryInfoSection {
        margin-bottom: 0;
        position: relative;
        top: 0;
    }
    #deliveryInfo {
        padding: 5%;
        font-size: 1.8rem!important;
    }
    #deliveryInfoHeader {
        font-size: 2.85rem;
        color: #f0d229;
        padding: 5%;
        display: block;
    }
    #menuBannerImage {
        content: url('images/3186.jpg');
        height: 75vh;
    }
    footer {
        bottom: 0;
        margin-bottom: 0;
    }
    .cardItem {
        line-height: 7.5vh;
        display: inline-block;
        border-radius: 50%;
        font-weight: 600;
        width: 13.75vh;
        height: 13.75vh;
    }
    .cardTitle {
        font-size: 0.95rem;
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    #logo {
        width: 10%;
        height: 10%;
    }
    #banner img {
        margin-top: 11%;
        margin-bottom: 0;
    }
    #bannerText {
        top: 0;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #reasonParagraph {
        font-size: 1.65rem;
        padding-bottom: 5%;
    }
    #reasonHeader {
        padding: 5%;
        margin-top: 0;
        font-size: 2.75rem!important;
    }
    .horizontalLine {
        width: 55%;
    }
    #deliveryInfoSection {
        margin-bottom: 0;
        position: relative;
        top: 0;
    }
    #deliveryInfo {
        padding: 5%;
        font-size: 1.45rem!important;
    }
    #deliveryInfoHeader {
        font-size: 2.85rem;
        color: #f0d229;
        padding: 5%;
        display: block;
    }
    #menuBannerImage {
        content: url('images/3186.jpg');
        height: 75vh;
    }
    footer {
        bottom: 0;
        margin-bottom: 0;
    }
    .cardItem {
        line-height: 5.5vh;
        display: inline-block;
        border-radius: 50%;
        font-weight: 600;
        width: 10.75vh;
        height: 10.75vh;
    }
    .cardTitle {
        font-size: 0.95rem;
    }
    #menuBanners {
        top: 5.5vh!important;
    }
}